{{>NavBar}}

<body style="background-image: url(img/hehexd.jpg); background-size: cover;">
    <br>
    <div style="padding-bottom:2%" class= "boundbox">
        <div class="container">

        <h1>
             Your Progress      
        </h1>

        <br>
        <div style="padding-left:2%">
                    <h2> Total Tasks Active</h2>
                    <h3> {{active}} </h3>

                    <h2> Tasks Completed: All time </h2>
                    <h3> {{completed}} </h3>

                    <h2> (!!!) Tasks: All time </h2>
                    <h3> {{imp3}} </h3>

                    <h2> (!!) Tasks: All time </h2>
                    <h3> {{imp2}} </h3>

                    <h2> (!) Tasks: All time </h2>
                    <h3> {{imp1}} </h3>
        
        <div>
        </div>
    </div>	
</body